<div class="row">
    <div class="col-2">
        <h2>nhac.vn</h2>
    </div>
    <div class="col-8">
        <p>
           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam voluptas dignissimos doloribus expedita atque, voluptatem ut reiciendis ab natus? Culpa adipisci vero sunt vitae odio hic. Dignissimos distinctio eos maxime.
        </p>
    </div>
    <div class="col-2">
        <img width="100" src="https://lzd-img-global.slatic.net/g/tps/tfs/TB1fj5Nfr_I8KJjy1XaXXbsxpXa-373-140.png" alt="Bộ Công Thương" />
        <img width="100" src="https://lzd-img-global.slatic.net/g/tps/tfs/TB1iRzQc5qAXuNjy1XdXXaYcVXa-374-142.png" alt="Bộ Công Thương" />
    </div>
</div>
