
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Thể loại</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Album</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Nhạc sĩ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Tìm kiếm</a>
    </li>
</ul>