
<div>
    <img style="width: -webkit-fill-available; " src="	https://lzd-img-global.slatic.net/g/p/ea356d31f11522ea37380d8c866db11d.png_720x720q80.png_.webp" alt="Ốp Điện Thoại iPhone Từ tính" />
</div>
<div>
    <img style="width: -webkit-fill-available; " src="https://lzd-img-global.slatic.net/g/p/2cde90117e2922e5ec98db265f926de3.png_720x720q80.png_.webp" alt="Cà Phê Vinacafe Chất" />
</div>